html {
  scroll-behavior: smooth;
}
body {}
nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}
.nav-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
  
}
.item {
  margin: var(--spacing-1);
  padding: 0.5rem 0.5rem;
}
/*details {
  cursor: pointer;
}*/
.project-title h3{
  display: inline;
}
.project-image {
  width: 50px;
  height: 50px;
}
.skill-item {
  list-style-type: none;
  display: inline;
  padding: 0.5rem 0.5rem;
}
